@use "normalize";
@use "nav";
@use "utilities"; // utilities/general classes
@use "components";

:root {
   --font-system: "IBM Plex Serif", -apple-system, Roboto, Oxygen-Sans,
      "Helvetica Neue", sans-serif;
   --color-main-800: #641f24;
   --color-main-500: #8d2d2d; //#ef4444;
   --color-main-100: #f9e7e7;
   --color-dark: black;
   --color-gray-100: #f8fafc;
   --color-gray-150: #eef2f6;
   --color-gray-150-t: hsla(213, 28%, 90%, 0.5); // 50% transparent
   --color-gray-200: #e2e8f0;
   --color-gray-300: #cbd5e1;
   --color-gray-400: #94a3b8;
   --color-gray-500: #64748b;
   --color-error-100: #fee2e2;
   --color-error-200: #fecaca;
   --color-error-500: #dc2626;
   --color-warning-100: #fef9c3;
   --color-warning-200: #fef08a;
   --color-warning-500: #eab308;
   --color-success-100: #dcfce2;
   --color-success-200: #bbf7cd;
   --color-success-500: #16a34a;
   --color-background: #f7f4eb;
   --gradient: linear-gradient(180deg, #07131f 0%, #173a4e 100%);
   --gradient-red: linear-gradient(
      90deg,
      var(--color-main-500) 0%,
      var(--color-main-800) 100%
   );
   --grid-columns-2: repeat(2, 1fr);
   --grid-columns-3: repeat(3, 1fr);
   --grid-columns-4: repeat(4, 1fr);
   --br-small: 10px;
   --br-large: 10px;
   --gap: 1rem;
   --gap-sm: 0.5rem;
   --box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}

html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

::selection {
   background-color: var(--color-main-100);
   color: black;
}

.wrapper {
   margin: auto;
   max-width: 1200px;
   padding: 20px;

   &.wrapper-narrow {
      max-width: 800px;
   }

   &.wrapper-wide {
      max-width: 1400px;
   }
}

body {
   margin: 0;
   font-family: var(--font-system);
}

section {
   clear: both;
}

main {
   min-height: 60vh;
}

h1 {
   font-size: 3em;
   letter-spacing: -1px;
   margin: 1rem 0px;
}

h2 {
   margin-top: var(--gap);
   margin-bottom: 0.5em;
   font-size: 1.5em;
}

h3 {
   color: var(--color-main-800);
   font-weight: 600;
   margin-top: 1.5em;
}

p {
   color: var(--color-text);
}

p,
li,
div {
   line-height: 1.7;
}

a {
   text-decoration: none;
   color: var(--color-main-800);
}

p a,
a[data-type="URL"],
.url-list li a,
td a {
   text-decoration: none;
   background-image: linear-gradient(
      var(--color-main-800),
      var(--color-main-800)
   );
   background-position: left 100%;
   background-repeat: no-repeat;
   background-size: 100% 1px;
   transition: background-size 500ms ease-in-out;

   &:hover {
      background-size: 0% 1px;
      background-position: right 100%;
      transition: background-size 500ms ease-in-out;
   }
}

a[target="_blank"]:not(.event)::after {
   content: "\F144";
   font-family: "Bootstrap-icons";
   margin-left: 5px;
   scale: 0.8;
   font-size: 0.8em;
   display: inline-block;
   transition: 0.3s transform;
}

a[target="_blank"]:hover::after {
   transform: translate(3px, -3px);
}

// HEADER + NAV ---
header {
   min-height: max(700px, 100vh);
   color: white;
   background: url("/wp-content/uploads/2023/03/snowflakes.png"),
      var(--gradient);
   background-size: cover;
   background-attachment: fixed;
   background-position: top;
   position: sticky;
}

header.page {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

header:has(.home-header) {
   min-height: max(700px, calc(100svh + 72px));
}

.home-header {
   padding: 5vh 20px 72px;
   font-size: 0.9em;

   .snowflake {
      display: none;
   }

   h1 {
      line-height: 1.2;
   }
}

.waves {
   position: absolute;
   bottom: 0;
   height: 72px;
   width: 100vw;
   overflow: hidden;

   svg {
      min-width: 1100px;
   }
}

header:not(.archive) h1 {
   text-shadow: 0px 4px 75px rgba(0, 0, 0, 0.75);
}

.page-header h1,
.center {
   text-align: center;
}

header.archive {
   color: var(--color-main-800);
   min-height: auto;
   background: none;

   h1 {
      margin: 0.25em 0;
   }
}

// FOOTER ---
footer {
   background: var(--gradient);
   color: white;
   padding: var(--gap);
   margin-top: calc(var(--gap) * 2);
   position: relative;

   a {
      color: white;
   }

   img {
      width: 50%;
      margin-bottom: var(--gap);
   }

   a,
   address {
      display: block;
      margin: 10px 0px;
   }

   address {
      font-style: normal;
   }

   ul {
      padding-left: 20px;
   }

   li {
      padding-left: 10px;
   }

   .menu > .menu-item {
      padding-left: 0px;
   }

   .footer-main a {
      margin-left: 0px;
   }

   .footer-contact li {
      font-family: "Bootstrap-icons", var(--font-system);
   }

   .footer-contact li.email {
      list-style-type: "\F32F";
   }

   .footer-contact li.phone {
      list-style-type: "\F5C1";
   }

   .footer-contact li.address {
      list-style-type: "\F1DD";
   }

   .footer-nav ul.menu {
      list-style-type: none;
      padding: 0px;
   }

   .footer-nav ul.sub-menu {
      list-style-type: "\2014";
   }
}

// MINOR EDITS ---
// -- help out
.donate-options {
   order: -1;
}
// -- sponsors columns
.columns-sponsors {
   gap: 0px;

   p {
      margin: 0;
   }
}

// EVENT INFO ---
.event-info {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

// EMAIL SUBSCRIPTION FORM ---
.email-signup {
   display: flex;
   gap: var(--gap-sm);
   flex-wrap: wrap;

   input {
      padding: 0.5rem 0.75rem;
      border-radius: var(--br-small);
      border: 1px solid var(--color-gray-200);
      flex-grow: 1;
      max-width: 500px;
   }

   button {
      margin: 0px;
   }
}

.sib_signup_form input {
   background-color: var(--color-gray-100);

   &::placeholder {
      color: var(--color-gray-400);
   }
}

// REGISTER FORM ---
body.page-template-page_register,
body.page-id-155 {
   background-color: var(--color-gray-150-t);
}

.registerForm-container {
   background-color: white;
   border-radius: var(--br-large);
   box-shadow: var(--box-shadow);
   gap: 0px;

   h2 {
      font-size: 1.5rem;
      margin: 1rem 0px 1rem 0px;
   }
}

.registerForm-sidebar {
   background-color: var(--color-gray-100);
   padding: var(--gap);
   border-radius: 0px 0px var(--br-large) var(--br-large);
   order: 2;

   button {
      display: none;
   }

   .registerForm-sidebar-container {
      position: sticky;
      top: var(--gap);
   }

   .registerForm-sidebar-item {
      display: flex;
      gap: 1rem;
      color: black;
      padding: 0.5rem;
      transition: background-color 0.25s;
      border-radius: var(--br-small);

      &:not(:first-of-type) {
         margin-top: 0.5rem;
      }

      &:hover {
         background-color: var(--color-gray-150-t);
      }

      i {
         color: var(--color-gray-400);

         &.success {
            color: var(--color-success-500);
         }
         &.error {
            color: var(--color-error-500);
         }
      }

      p {
         margin: 0;
      }
   }
}

.registerForm-main {
   padding: var(--gap);
   height: auto;

   figure {
      padding-top: 0px;
   }
}

.registerForm-section,
.satisfaction-survey {
   margin-top: var(--gap);
   border-top: 1px solid var(--color-gray-150-t);

   &#member1,
   &#family-information {
      border-top: 1px solid var(--color-gray-200);
   }

   &.language-selector,
   &.family-info {
      border: none;
   }
}

form:not(.sib_signup_form),
.language-selector,
dialog {
   strong,
   input {
      display: block;
      color: black !important;
   }

   label,
   .label {
      display: block;
      margin: 1.5rem 0 0.5rem;

      i {
         font-style: normal;
         color: var(--color-gray-500);
      }
   }

   input[type="text"],
   input[type="email"],
   input[type="tel"],
   input[type="number"],
   select,
   textarea {
      background-color: var(--color-gray-100);
      border: 1px solid var(--color-gray-200);
      border-radius: var(--br-small);
      padding: 0.5rem 0.6rem;
      margin: 0.5rem 0;
      outline: none;
      transition: border-color 0.2s;
      width: 100%;
      color: black;

      &:focus {
         border-color: var(--color-gray-300);
      }

      &::placeholder {
         color: var(--color-gray-300);
      }
   }

   [data-validate="invalid"] {
      background-color: var(--color-error-100) !important;
      border: 1px solid var(--color-error-200) !important;
   }

   [data-validate="valid"] {
      background-color: var(--color-success-100) !important;
      border: 1px solid var(--color-success-200) !important;
   }

   .input-sm {
      max-width: 25%;
      min-width: 120px;
   }
   .input-md {
      max-width: 50%;
      min-width: 240px;
   }

   select,
   input[list] {
      appearance: none;
      -webkit-appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
      background-position: right 0.6rem center;
      background-repeat: no-repeat;
      background-size: auto 30%;
   }

   select[readonly],
   input::placeholder {
      color: var(--color-gray-400);
   }

   .checkboxes label {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5rem;
      margin: 0px 0px 0.5rem;
   }

   .alt-check {
      opacity: 0;
      height: 0;
      width: 0;
      order: 4;
   }

   .toggle {
      text-indent: -9999px;
      cursor: pointer;
      width: 2.2rem;
      height: 1.2rem;
      background: var(--color-gray-200);
      display: block;
      border-radius: 100px;
      position: relative;
      transition: background 500ms cubic-bezier(0.8, 0, 0.2, 1);
   }

   .toggle:after {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: calc(1.2rem - 4px);
      min-width: calc(1.2rem - 4px);
      height: calc(1.2rem - 4px);
      background: var(--color-gray-500);
      border-radius: 90px;
      transition: 500ms cubic-bezier(0.8, 0, 0.2, 1);
   }

   input:checked + .toggle {
      background: var(--color-success-200);
   }

   input:focus + .toggle {
      outline: 1px solid var(--color-gray-400);
      outline-offset: 2px;
   }

   input:checked + .toggle:after {
      left: calc(100% - 2px);
      transform: translateX(-100%);
      background: var(--color-success-500);
   }

   .checkbox {
      height: 24px;
      width: 24px;
      background-color: var(--color-gray-100);
      border: 1px solid var(--color-gray-150-t);
      border-radius: 4px;
      cursor: pointer;

      svg {
         stroke: var(--color-gray-500);
         scale: 0.75;
         transform: translateX(-1px);
      }
   }

   #span-fam-code svg,
   .checkbox svg {
      stroke-dashoffset: 24.627416610717773px;
      stroke-dasharray: 24.627416610717773px;
      transition: stroke-dashoffset 300ms cubic-bezier(0.8, 0, 0.2, 1);
   }

   input:checked + .checkbox svg {
      stroke-dashoffset: 49.25483322143555px;
   }

   input:focus + .checkbox {
      outline: 1px solid var(--color-gray-400);
      outline-offset: 2px;
   }

   #span-fam-code {
      display: inline-block;
      align-items: center;
      width: 100%;
      position: relative;

      svg {
         position: absolute;
         top: calc(50% - 12px);
         right: 8px;
         stroke: var(--color-success-500);

         &.valid {
            stroke-dashoffset: 49.25483322143555px;
         }
      }
   }

   strong em {
      color: var(--color-error-500);
      font-style: normal;
   }
}

.age-category {
   label {
      margin: 0.5rem 0px !important;
   }

   .age-category-button {
      cursor: pointer;
      border: 1px solid var(--color-gray-200);
      padding: 0.25rem 0.75rem;
   }

   input:checked + .age-category-button {
      border: 1px solid var(--color-success-200);
      background-color: var(--color-success-100);
   }

   input:focus + .age-category-button {
      outline: 1px solid var(--color-gray-400);
      outline-offset: 2px;
   }
}

.age-gift {
   display: none;
}

.form-error {
   color: var(--color-error-500) !important;
}
.form-success {
   color: var(--color-success-500) !important;
}

.registerForm-section:has(#language) {
   margin: auto;
}

@keyframes checkAnimation {
   from {
      stroke-dashoffset: 24.627416610717773px;
   }
   to {
      stroke-dashoffset: 49.25483322143555px;
   }
}

// REGISTER SUCCESS PAGE ---
.register-success {
   display: flex;
   justify-content: center;
   padding: var(--gap);

   h1 {
      font-size: 2em;
   }

   section {
      text-align: center;
      align-items: center;
      background-color: white;
      display: flex;
      flex-direction: column;
      max-width: 700px;
   }

   .check-container {
      background-color: var(--color-success-100);
      height: 150px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;

      svg {
         stroke-dashoffset: 24.627416610717773px;
         stroke-dasharray: 24.627416610717773px;
         transform: scale(4);
         stroke: var(--color-success-500);
         animation: 1000ms cubic-bezier(0.8, 0, 0.2, 1) 500ms forwards
            checkAnimation;
      }
   }

   .satisfaction-survey {
      border-radius: var(--br-small);
      border: 1px solid var(--color-gray-200);
      padding: var(--gap);
      background-color: var(--color-gray-100);

      h2 {
         font-size: 1.3em;
      }

      p {
         color: var(--color-gray-500);
      }

      textarea {
         resize: vertical;
         background-color: white;
      }

      input:checked + .satisfaction {
         border-color: currentColor !important;
      }

      #submit-button {
         scroll-margin-top: calc(var(--gap) * 2);
      }

      .satisfaction-container {
         grid-template-columns: 1fr 1fr 1fr;

         .satisfaction {
            cursor: pointer;
            padding: var(--gap-sm) 0px;
            border-radius: var(--br-small);
            overflow: hidden;
            position: relative;
            border: 2px solid;
            transition: border-color 300ms;

            i {
               font-size: 2.5rem;
            }

            &.good {
               background-color: var(--color-success-100);
               border-color: var(--color-success-100);
               color: var(--color-success-500);
               i {
                  color: currentColor;
               }
            }
            &.neutral {
               background-color: var(--color-warning-100);
               border-color: var(--color-warning-100);
               color: var(--color-warning-500);
               i {
                  color: currentColor;
               }
            }
            &.bad {
               background-color: var(--color-error-100);
               border-color: var(--color-error-100);
               color: var(--color-error-500);
               i {
                  color: currentColor;
               }
            }
         }
      }
   }
}

// REGISTER FORM (ADMIN) ---
.registerForm-admin {
   padding: 0px;

   form {
      display: grid;
      gap: var(--gap);

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="number"],
      select,
      textarea {
         background-color: white;
      }

      .checkbox {
         background-color: white;
      }

      textarea {
         line-height: 1.5;
      }
   }

   .registerFormAdmin-members {
      overflow-x: scroll;
   }

   .members-grid {
      min-width: 550px;

      label {
         width: 100%;
         margin: 0px;
      }

      select {
         padding: 9px;
      }

      input,
      select {
         max-width: 100% !important;
      }

      button {
         margin-top: 0;
      }

      display: grid;
      gap: 0.5rem;
      grid-template-columns: 1rem 2fr 1fr 3fr 40px;
      align-items: center;
   }
}

// REGISTRATIONS DASHBOARD ---
.registrations-dashboard {
   h1 {
      margin-top: var(--gap);
      font-size: 2em;
   }

   .totals-section {
      p {
         font-weight: bold;
         margin: auto;
         color: var(--color-gray-500);

         > i {
            font-size: 1.1em;
            display: inline-block;
            margin-left: 0.25em;
            color: var(--color-gray-300);
         }
      }

      h2 {
         align-items: center;
      }

      .new-people {
         margin-left: 0.5em;
         font-size: 0.5em;
         font-weight: normal;
         color: var(--color-gray-400);
      }
   }

   .card {
      background-color: var(--color-gray-100);
      border-radius: var(--br-small);
      padding: var(--gap);

      h2 {
         margin: 0;
         font-size: 2rem;
         clear: left;
      }

      p {
         margin-bottom: 0.25rem;
      }
   }

   .card-message {
      background-color: white;
      color: black;
      border: 1px solid var(--color-gray-200);

      p {
         margin: 0px;
      }
   }

   .messages {
      margin-top: var(--gap-sm);
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .card-message-inline {
         background-color: white;
         padding: 0.25rem 0.5rem;
         border-radius: var(--br-small);
      }
   }

   .progress-bar {
      width: 100%;
      height: 20px;
      background-color: var(--color-gray-200);
      border-radius: 10px;
      overflow: hidden;
      position: relative;

      .progress {
         max-width: 100%;
         background: var(--gradient-red);
         height: inherit;
         top: 0;
      }

      .current,
      .goal {
         margin: 0;
         line-height: 1.25;
         position: absolute;
         top: 0;
      }

      .current {
         left: 10px;
      }

      .goal {
         right: 10px;
      }
   }

   .filter-options {
      display: flex;

      button,
      .button {
         padding: 8px inherit;
         background-color: white;
         margin: 0px;
         border: 1px solid var(--color-gray-300);
         border-radius: 0px;
         border-right-width: 0px;
         color: black;

         &:first-of-type {
            border-radius: var(--br-small) 0px 0px var(--br-small);
         }

         &:last-of-type {
            border-radius: 0px var(--br-small) var(--br-small) 0px;
            border-right-width: 1px;
         }

         &.active {
            background-color: var(--color-gray-150);
         }
      }
   }

   .registrations {
      margin-top: var(--gap);
      position: relative;

      p {
         margin: 0;
      }

      #registered-families-options > .button {
         float: right;
      }

      .button,
      button {
         margin-top: 0px;
         margin-bottom: 0px;
      }

      .registration-filters {
         margin-bottom: var(--gap-sm);
         position: sticky;
         top: calc(58px + var(--gap));
         background-color: var(--color-gray-100);
         z-index: 2;
      }

      .table-families-container {
         max-width: 100%;
         overflow-x: auto;
      }

      .table-families {
         td {
            white-space: nowrap;
            //overflow: hidden;
            text-overflow: ellipsis;
         }

         td.fam-number {
            text-align: right;
         }

         td.fam-name {
            min-width: 160px;
            position: relative;
         }

         td.fam-email {
            width: 100%;
            max-width: 343px;
         }

         td.fam-kids {
            text-align: center;
         }

         td.fam-gift {
            max-width: 150px;
         }

         td.fam-here,
         td.fam-left {
            text-align: center;
         }
      }

      .family-card:has([data-gift=""]),
      .family-card:has([data-time=""]) {
         //background-color: var(--color-error-100) !important;
         border-color: var(--color-error-500);
         &::before {
            content: "There's something wrong with this registration. Family gift or reservation time is missing.";
            color: var(--color-error-500);
         }
      }

      .family-card,
      .family-row {
         border-radius: var(--br-small);
         padding: 1.5rem;
         background-color: white;
         border: 1px solid var(--color-gray-300);
         transition: transform 300ms cubic-bezier(0.8, 0, 0.2, 1);
         position: relative;
         scroll-margin-top: 8.4rem;

         .message {
            margin-bottom: 0px;
         }

         .data-icons {
            position: absolute;
            right: 10px;
            bottom: 4px;
            display: flex;
            gap: 0.5em;

            i {
               display: none;
               color: var(--color-gray-300);
            }
         }

         &[data-printed="true"] {
            .bi-printer-fill {
               display: block;
            }
         }

         &:not([data-note=""]) {
            .bi-chat-text {
               display: block;
            }
         }

         .button-toggle {
            padding-bottom: 4px;

            svg {
               border: 1px solid var(--color-gray-500);
               height: 20px;
               width: 20px;
               margin: 1px;
               border-radius: 4px;
               stroke-dashoffset: 24.627416610717773px;
               stroke-dasharray: 24.627416610717773px;
               transition: stroke-dashoffset 300ms cubic-bezier(0.8, 0, 0.2, 1);
            }
         }

         &[data-packed="1"] {
            background-color: var(--color-success-100);

            .edit-family,
            .fam-number {
               background-color: var(--color-success-200);
               color: var(--color-success-500);

               p,
               i {
                  color: var(--color-success-500);
               }
            }

            button.family-members,
            button.edit-family {
               background-color: var(--color-success-200);
            }

            .bi-people {
               color: var(--color-success-500);
            }

            .button-toggle {
               svg {
                  border-color: var(--color-success-500);
                  stroke-dashoffset: 49.25483322143555px;
               }
            }
         }
      }

      .family-row {
         &[data-checked-in-online="1"] {
            td.fam-number::after {
               font-family: "Bootstrap-icons";
               content: "\F3EE";
               position: absolute;
               left: 0.5rem;
               color: var(--color-frgd);
            }
         }

         &:not([data-here=""]) {
            --color-bkgd: var(--color-warning-100);
            --color-frgd: var(--color-warning-500);

            .button-here {
               svg {
                  stroke-dashoffset: 49.25483322143555px;
               }
            }
         }
         &[data-checked-in-online="1"] {
            --color-bkgd: #cffafe;
            --color-frgd: #155e75;
         }
         &:not([data-left=""]) {
            --color-bkgd: var(--color-success-100);
            --color-frgd: var(--color-success-500);

            .button-left {
               svg {
                  stroke-dashoffset: 49.25483322143555px;
               }
            }
         }
         &[data-here=""]:not([data-left=""]) {
            --color-bkgd: var(--color-error-100);
            --color-frgd: var(--color-error-500);
         }
         &:not([data-here=""]),
         &:not([data-left=""]) {
            background-color: var(--color-bkgd);
            button {
               background-color: var(--color-bkgd);
               color: var(--color-frgd);
            }

            .button-toggle {
               svg {
                  border-color: var(--color-frgd);
               }
            }
         }
      }

      .family-info {
         p {
            color: var(--color-gray-500);
         }

         .fam-number {
            display: inline-block;
            background-color: var(--color-main-100);
            color: var(--color-main-800);
            padding: 0.25em 0.75em;
            font-weight: bold;
            align-self: center;
            border-radius: var(--br-small);
         }
      }

      .buttons {
         gap: 0.5rem;
         padding-bottom: 0px;
      }

      .family-gift {
         margin-bottom: 0;
         display: flex;
         align-items: center;

         &::before {
            font-family: "Bootstrap-icons";
            margin-right: 0.5rem;
            content: "\F3EC";
            opacity: 0.5;
         }

         &[data-gift="Game"] {
            background-color: #f0f9ff;

            &::before {
               content: "\F2FB";
            }
         }

         &[data-gift="Puzzle"] {
            background-color: #f0fdf4;

            &::before {
               content: "\F503";
            }
         }
      }

      .family-reservation {
         margin-bottom: 0;
         display: flex;
         align-items: center;

         &::before {
            font-family: "Bootstrap-icons";
            margin-right: 0.5rem;
            content: "\F293";
            opacity: 0.5;
         }
      }

      .family-members {
         .bi-chevron-down {
            transform: rotate(0);
            transition: transform 400ms cubic-bezier(0.8, 0, 0.2, 1);
            display: inline-block;
            color: black;
            font-size: 0.9em;

            &.open {
               transform: rotate(180deg);
            }
         }
      }

      .all-info {
         display: none;
         margin-top: 1rem;

         &.open {
            display: block;
         }
      }
   }

   .options-container {
      position: relative;

      .options-menu {
         position: absolute;
         right: 0;
         top: 40px;
         display: flex;
         flex-direction: column;
         z-index: 5;
         background-color: white;
         gap: 0.25rem;
         padding: 0.5rem;
         box-shadow: var(--box-shadow);
         border-radius: var(--br-small);
         transform: scaleY(0);
         transform-origin: top;
         transition: transform 400ms cubic-bezier(0.8, 0, 0.2, 1);

         &.open {
            transform: scaleY(1);
         }

         .options-menu-item {
            display: flex;
            margin: 0;
            padding: 0.5rem;
            gap: 0.5rem;
            align-items: center;
            border-radius: var(--br-small);
            background: none;
            transition: background-color 300ms;

            &:hover {
               background-color: var(--color-gray-100);
            }

            p {
               color: black;
               word-break: break-word;
            }

            i {
               color: var(--color-gray-400);
            }

            &.delete {
               --color-gray-100: var(--color-error-100);

               p,
               i {
                  color: var(--color-error-500);
               }
            }
         }
      }
   }

   .card-organization {
      margin-top: 0.5rem;
   }

   #searchFamilies {
      width: 100%;
      max-width: 100%;
      padding: 0.5rem 0.75rem;
      border-radius: var(--br-small);
      border: 1px solid var(--color-gray-300);
      margin: var(--gap-sm) 0;

      &:focus {
         border: 1px solid var(--color-gray-400);
         outline: none;
      }
   }

   .edit-family {
      float: right;
      margin: auto auto auto 0.5rem;

      i {
         margin: auto;
      }
   }

   h3 {
      font-size: 1.6rem;
      margin: 0;
      word-break: break-word;
      color: black;
   }

   table.family-members {
      td {
         word-break: break-all;
      }

      td:nth-of-type(1) {
         min-width: 20vw;
      }

      td:nth-of-type(2) {
         min-width: 60px;
      }

      td:nth-of-type(3) {
         width: 100%;
      }

      tr.family-info-row {
         background-color: var(--color-gray-100);
         font-weight: bold;
      }
   }

   .family-codes-table {
      td:nth-of-type(2) {
         width: 100%;
      }
   }

   #delete-confirmation {
      #lastname {
         color: var(--color-main-800);
      }

      .buttons {
         margin-top: 1rem;
         gap: 1rem;
      }

      #confirm:valid {
         background-color: var(--color-success-100);
         border-color: var(--color-success-200);
         color: var(--color-success-500);
      }
   }
}

.event-settings,
.gift-inventories {
   .card {
      h2 {
         font-size: 1.2rem;
      }

      p {
         margin: 0;
      }

      &.danger {
         background-color: var(--color-error-100);
      }
   }
}

.code-generator {
   button {
      margin-top: 1rem;
   }

   textarea {
      display: block;
      width: 100%;
      padding: 1rem;
      line-height: 1.7;
      background-color: white !important;
      border-radius: var(--br-small);
      border: 1px solid var(--color-gray-200);
      margin: 1rem 0;
   }

   #code-generator-fields {
      background-color: white;
      border-radius: var(--br-small);
      overflow: hidden;

      &:has(input) {
         border: 1px solid var(--color-gray-200);
         padding: var(--gap);
      }

      .organization-quantities {
         &:not(:last-of-type) {
            padding-bottom: 1rem;
            border-bottom: 1px solid var(--color-gray-200);
         }

         &:not(:first-of-type) {
            padding-top: 1rem;
         }

         label,
         input {
            margin: 0;
         }
      }
   }
}

// SCREENS BIGGER THAN 782PX ---
@media only screen and (min-width: 782px) {
   .home-header {
      padding: 10vh 20% 10vh 20px;
      z-index: 200;
   }
}

// SCREENS BIGGER THAN 980PX ---
@media (min-width: 980px) {
   :root {
      --gap: 2rem;
      --gap-sm: 1rem;
   }

   h1 {
      font-size: 4em;
   }

   h2 {
      font-size: 2em;
   }

   h3 {
      font-size: 1.5em;
   }

   .overflow-hidden {
      overflow: hidden;
   }

   .full-image-header a {
      color: white;
   }

   .home-header {
      .snowflake {
         position: absolute;
         opacity: 0.8;
         display: block;
      }

      #flake1 {
         right: 0;
         top: 95px;
      }
      #flake2 {
         right: 8vw;
         top: 480px;
         opacity: 0.7;
      }
      #flake3 {
         right: 35vw;
         top: 250px;
         width: 100px;
         filter: blur(3px);
         opacity: 0.5;
      }
      #flake4 {
         right: 40vw;
         top: 700px;
         width: 90px;
         filter: blur(3px);
      }

      h1 {
         line-height: 1.7;
      }
   }

   .grid-2,
   .wp-grid-2 > div {
      grid-template-columns: 1fr 1fr;
   }

   .grid-3,
   .wp-grid-3 > div {
      grid-template-columns: 1fr 1fr 1fr;
   }

   .grid-4,
   .wp-grid-4 > div {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }

   .span-2 {
      grid-column: span 2;
   }

   .span-3 {
      grid-column: span 3;
   }

   .span-4 {
      grid-column: span 4;
   }

   /* sponsors columns */
   .columns-sponsors {
      gap: 10px;
   }

   .donate-options {
      order: 1;
   }

   .registrations-dashboard .jump-to-families {
      display: block;
   }

   .filter-options {
      button {
         height: 40px;
      }
   }

   .register-form {
      h2 {
         font-size: 2rem;
      }

      fieldset {
         i {
            display: block;
            margin-left: 0px;
         }
      }
   }

   .registrations-dashboard table.family-members {
      td:nth-of-type(1) {
         min-width: 10vw;
      }
   }

   .registrations-dashboard #searchFamilies {
      width: 460px;
   }

   .button-main-100,
   .buttons button,
   .button-gray-150 {
      i {
         margin-right: 0.5rem;
      }

      .button-text-hide {
         display: inline;
      }
   }

   .registerForm-sidebar {
      padding: var(--gap-sm);
      border-radius: var(--br-large) 0px 0px var(--br-large);
      order: 0;

      button {
         display: block;
      }
   }

   .input-lg {
      max-width: 75%;
   }

   .event-info:first-child {
      margin-top: var(--gap);
   }
}

// IOS DEVICES ---
@supports (-webkit-touch-callout: none) {
   header {
      background-attachment: scroll;
   }
}

// NO TRANSITION FOR REDUCED MOTION ---
@media (prefers-reduced-motion: reduce) {
   *,
   *::after,
   *::before {
      transition: all 0s !important;
      transition: opacity 0.3s, background-color 0.3s !important;
   }
}

// PRINT STYLESHEET ---
@media only print {
   .page-id-264 {
      header,
      nav,
      footer,
      h1,
      .card:not(.registrations),
      .registrations > *:not(#print),
      .family-member-cards .edit-family,
      .bi-printer-fill,
      .jump-to-families,
      .family-members,
      .all-info {
         display: none !important;
      }

      .grid:not(span.page-break, #print-info .grid) {
         display: block;
      }

      #print-info,
      #children,
      #adults {
         display: block !important;
      }

      .registrations {
         margin-top: 0px;
         float: none;

         & * {
            font-size: 11pt !important;
         }

         &.card {
            background: none;
            padding: 0px;
         }

         // container
         .page-break {
            gap: 25mm;
            grid-template-columns: calc(50% - 12.5mm) calc(50% - 12.5mm) !important;
         }

         // child
         .family-card {
            box-shadow: none;
            border: none;
            background: none !important;
            padding: 5mm 0px 0px;
         }

         #print-info {
            > p {
               text-align: center;
               margin: 2rem 0px 1rem;
            }

            svg {
               height: 30px;
               width: 30px;
            }

            .flex {
               text-align: center;
            }
         }

         .page-break {
            break-after: page;

            &:last-of-type {
               break-after: avoid;
            }
         }

         .family-info {
            flex-direction: column;
            align-items: center;
            gap: 8pt;

            .fam-name {
               font-size: 20pt !important;
            }
         }

         .family-reservation {
            justify-content: center;
         }

         .buttons {
            align-items: center;
            justify-content: center;
         }

         .fam-number {
            font-size: 36pt !important;
            padding: 0px 64px !important;
            background-color: var(--color-main-100) !important;
            color: var(--color-main-800) !important;
         }

         .card {
            background: none;
            border-radius: 0px;
            padding: 0px;
         }

         .bi-chevron-down {
            display: none !important;
         }

         button.family-members {
            background-color: var(--color-gray-100) !important;

            i {
               color: black !important;
            }
         }

         .all-info {
            display: block;

            .message {
               display: none;
            }
         }

         table.family-members {
            display: block !important;
            position: relative;
            max-width: 420px;

            td {
               min-width: 0px !important;
               text-overflow: ellipsis;
               overflow: hidden;
               max-width: 150px;
               word-break: normal !important;
               width: 100%;
            }

            tbody tr:nth-of-type(10)::after {
               content: "\21e3";
               position: absolute;
               bottom: 3px;
               right: 10px;
            }

            tbody tr:nth-of-type(n + 11) {
               display: none;
            }
         }
      }
   }

   .page-id-153 {
      header,
      nav,
      footer,
      h1,
      button,
      #family-notes,
      #error-log,
      #blocked-ip {
         display: none !important;
      }

      #main-container {
         display: block;
      }

      #container-1 {
         break-after: page;
      }

      #feedback-messages {
         break-before: page;
      }
   }

   .page-id-283 {
      header,
      nav,
      footer,
      h1,
      h2,
      .options-container,
      .registration-filters {
         display: none !important;
      }

      .card.registrations {
         padding: 0px;
         margin: 0px;
         background: none;
      }

      .table-families-container {
         overflow: auto;
         zoom: 80%;

         table {
            margin-top: 0px;

            td {
               padding: 0rem 0.25rem;
            }
         }
      }

      main {
         margin: 5mm;
         padding: 0px;
         max-width: none;
      }
   }
}
